* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 5px;
}

.float {
/*    float: left;*/
    margin: 15px;
    background-color: aquamarine;
    height: 100px;
    width: 200px;
}

.clear {
    background-color: bisque;
}