* {
    margin: 0;
    padding: 0;
}

.wrapper {

}

.content {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
    width: auto;
    max-width: 600px;
    resize: both;
}