* {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
}

body{

}

h1{
    background-color: #EAEAEA;
    padding: 5px 0 30px 5px;
}

.footer {
    background-color: black;
    text-align: center;
    width:100%;
    height:auto;
}

a{
    color: bisque;    
}

#leftBar {
    float: left;
    width: 25%;
    background-color: #C8FC98;
}
#centerBar{
    float: inherit;
}

#rightBar {
    float: right;
    width: 200px;
    background-color: #FDE95E;
}

.redText {
    color: red;
}