body{
    margin: 0;
}

h1{
    background-color: #EAEAEA;
    margin: 0;
    padding: 5px 0 20px 5px;
}

.leftBar {
    float: left;
    width: 200px;
    background-color: #C8FC98;
}

.redText {
    color: red;
}