* {
    margin: 0;
    padding 0;
}

body {
    margin: 5px;
    
}

img {
    float: right;
    padding: 0 0 10px 10px;
    
}

.wrapper {    
    margin-left: 35%;
    margin-right: 25%;
}

.blueBox {
    background-color: aquamarine;
    height: 70%;
}

.main {
    width: 600px;
    position: static;
    background-color: blue;
    
}

p {
    color: white;
}