* {
    margin: 0;
    padding 0;
}

body {
    margin: 5px;
}

main {
    display: flex;
    align-items: flex-start;
    border: solid 1px;
    background-color: aqua;
}

img {
    width: 20%;
    height: 20%;
    float: right;
}

aside {
    height: 150%;
    width: 40%;
    background-color: bisque;
}

article {
    background-color: lightgray;
}

.popa {
    clear: right;
}

@media screen and (max-width: 600px){
    img {
        width: 10;
        height: 10%;
    }
}